.h1-finish{
    font-family: sans-serif;
    text-align: center;
}

.correto-finish{
    position: fixed;
    left: 40%;
    width: 40%;

}
/* Animação para o título (surge de cima para baixo com opacidade) */
.h1-finish {
    font-family: Arial, sans-serif;
    color: #2d3436;
    animation: fadeInDown 0.8s ease-out forwards;
}

/* Animação para a imagem efeito de pop */
.correto-finish {
    width: 310px; /* Ajuste o tamanho conforme necessário */
    cursor: pointer;
    display: block;
    margin: 20px auto;
    
    animation: popIn 0.6s cubic-bezier(0.17, 0.67, 0.83, 0.67) 0.3s backwards;
    transition: transform 0.3s ease;
}

/* Efeito de hover para indicar que a imagem é clicável */
.correto-finish:hover {
    transform: scale(1.1);
}

/* Keyframes, aparece gradualmente */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* animação de pop-in */
@keyframes popIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    70% {
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}