#form{
    text-align: center;
    font-family: sans-serif;
    position: relative;
    top: 240px;
}

h1{
    color: rgb(26, 152, 255);
}

#logo{
    width: 400px;
    padding: 0px;
    position: absolute;
    top: -40px;
    left: 470px;
    z-index: -1;
    
}

input{
    text-align: center;
    position: relative;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    border: none;
    box-shadow: 0 2px 6px black;
}


    
button{
    font-family: sans-serif;
    color: white;
    background-color: rgb(26, 152, 255);
    position: relative;
    top: 240px;
    left: 45%;
    padding: 8px;
    width:130px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px 6px black;
    
}


#box{
    margin-left: 370px;
    border-radius: 10px;
    padding: 200px;
    width: 200px;
    position: relative;
    bottom: 70px;
    box-shadow: 0 4px 12px black;
    z-index: -1;
}

a{
    text-decoration: none;
    position: relative;
    top: 110px;
    margin: 100px;
}



/* responsividade aqui*/


@media (max-width: 900px) {

    #box {
        width: 90%;
        padding: 100px 20px;
        margin-left: 0;         
        left: 50%;              
        transform: translateX(-50%);
        top: 0;
    }

    #logo {
        width: 250px;
        left: 50%;
        transform: translateX(-50%);
        top: -20px;
    }

    #form {
        top: 160px;
        padding: 0 20px;
    }

    #cartao,
    #Senha {
        width: 90%;
        max-width: 300px;
    }

    a {
        top: 40px;
        margin: 20px;
        display: inline-block;
    }

    footer {
        top: 250px;
        padding: 20px;
    }
}

@media (max-width: 500px) {

    #box {
        width: 100%;          
        padding: 60px 15px;
        border-radius: 8px;
    }

    #logo {
        width: 180px;
    }

    button {
        width: 100%;
        max-width: 150px;
        padding: 10px;
    }
}


/* animações */


button:hover{
    color: black;
}

input:focus{
    outline: none;
}
