.all-login{
  font-family: Arial, sans-serif;
}


.logo-login{
  position: fixed;
  bottom: 65%;
  right: 72%;
  width: 40%;
}

.login-container {
  position: fixed;
  top: 23%;
  left: 7%;
  width: 80%;
  height: 62%;
  background: #d8d8d8;
  border-radius: 12px;
  padding: 40px;
  display: flex;
  align-items: center;
  z-index: -10;
}


.login-illustration img {
  width: 450px;
  max-width: 100%;
}

.doctors-login{
  position: fixed;
  top: 20%;
  left: 10%;
  width: 40%;
  z-index: 90;
}

.login-card {
  background: #ffffff;
  position: fixed;
  top: 30%;
  right: 10%;
  padding: 25px;
  width: 350px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  box-shadow: 0 8px 20px rgb(85, 85, 85);
}

.login-card h2 {
  text-align: center;
  margin-bottom: 8px;
}

.login-card input {
  padding: 12px;
  width: 80%;
  border-radius: 17px;
  border: none;
  background: #d8d8d8;
  outline: none;

}

.login-card button {
 
  padding: 12px;
  width: 83%;
  border-radius: 8px;
  border: none;
  background: rgb(6, 92, 179);
  color: white;
 
  cursor: pointer;
}

.login-card button:hover {
  opacity: 0.9;
}


.links-login{
  display: flex;
  flex-direction: column;
  font-size: 14px;
}




/* reponsividade */

@media (max-width: 768px) {
  .all-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .logo-login, 
  .doctors-login, 
  .login-container, 
  .login-card {
    position: static;
    width: 100%;
    max-width: 400px;
    margin: 10px 0;
  }

  .login-container {
    height: auto;
    padding: 20px;
    background: transparent;
  }

  .doctors-login {
    display: block;
    width: 80%;
  }

  .login-illustration img {
    width: 100%;
  }
}