.form{
    text-align: center;
    font-family: sans-serif;
    position: relative;
    top: 240px;
}

.tudo{
    color: rgb(6, 92, 179);
}

.logol{
    width: 400px;
    padding: 0px;
    position: absolute;
    top: -40px;
    left: 470px;
    z-index: -1;
    
}

.cardsus, .pass{
    text-align: center;
    position: relative;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    border: none;
    box-shadow: 0 2px 6px black;
}


    
.enter{
    font-family: sans-serif;
    color: white;
    background-color: rgb(6, 92, 179);
    position: relative;
    top: 240px;
    left: 45%;
    padding: 8px;
    width:130px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px 6px black;
    
}


.boxf{
    margin-left: 370px;
    border-radius: 10px;
    padding: 200px;
    width: 200px;
    position: relative;
    bottom: 70px;
    box-shadow: 0 4px 12px black;
    z-index: -1;
}

.create, .remember{
    text-decoration: none;
    position: relative;
    top: 110px;
    margin: 100px;
}



/* responsividade aqui*/


@media (max-width: 900px) {

    .boxf {
        width: 90%;
        padding: 100px 20px;
        margin-left: 0;         
        left: 50%;              
        transform: translateX(-50%);
        top: 0;
    }

    .logol {
        width: 250px;
        left: 50%;
        transform: translateX(-50%);
        top: -20px;
    }

    .form {
        top: 160px;
        padding: 0 20px;
    }

    .cardsus,
    .pass {
        width: 90%;
        max-width: 300px;
    }

    .create, .remember {
        top: 40px;
        margin: 20px;
        display: inline-block;
    }

}

@media (max-width: 500px) {

    .boxf {
        width: 100%;          
        padding: 60px 15px;
        border-radius: 8px;
    }

    .logol {
        width: 180px;
    }

    .enter {
        width: 100%;
        max-width: 150px;
        padding: 10px;
    }
}


/* animações */

.enter:hover{
    color: black;
}

.cardsus, .pass:focus{
    outline: none;
}
