.all-appointment{
    font-family: sans-serif;
}

/* boxs */

.box-appointment{
    background-color: rgb(202, 201, 201);
    position: fixed;
    top: 7%;
    right: 6%;
    padding: 20%;
    width: 30%;
    border-radius: 15px;
    z-index: -5;

}

.box-appointment2{
    background-color: rgb(6, 92, 179);
    padding: 500px;
    z-index: -100;
    border-radius: 1000px;
    position: fixed;
    left: 50%;
    top: -150px;
}

.box1-appointment{
    background-color: white;
    position: fixed;
    bottom: 13%;
    left: 28%;
    padding: 40px;
    width: 20%;
    height: 55%;
    border-radius: 15px;
    z-index: -4;
}

.box2-appointment{
    background-color: white;
    position: fixed;
    bottom:13%;
    left: 60%;
    padding: 40px;
    width: 20%;
    height: 55%;
    border-radius: 15px;
    z-index: -4;
}

.box3-appointment{
    background-color: rgb(221, 220, 220);
    position: fixed;
    top: 36%;
    right: 18%;
    padding: 10px;
    width: 17%;
    height: 30%;
    border-radius: 15px;
    border: none;
    box-shadow: 0 8px 20px rgb(44, 44, 44);
}

/* text */

.t1-appointment{
    color: black;
    position: fixed;
    left: 40%;
    top: 40px;
}

.t2-appointment{
    color: black;
    position: fixed;
    left: 69%;
    top: 130px;
}

.h1-appointment{
    color: rgb(87, 87, 87);
    font-family: sans-serif;
    font-size: 38px;
    width: 350px;
    position: fixed;
    top: 6%;
    left: 23%;
}

/* inputs */

.form-appointment{
    position: fixed;
    top: 190px;
    left: 31%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20%;
   
}

.input-appointment {
    text-align: center;
    padding: 10px;
    width:92%;
    border-radius: 10px;
    
}

.select-appointment{
    padding: 10px;
    width: 100%;
    border-radius: 10px;
}

/* buttons */

.b-appointment{
    background-color: rgb(6, 92, 179);
    color: white;
    position: fixed;
    top: 75%;
    right: 18%;
    padding: 10px;
    width: 19%;
    border: none;
    border-radius: 15px;

}

.status-appointment{
    background-color: rgb(221, 220, 220);
    position: fixed;
    top: 36%;
    right: 18%;
    padding: 10px;
    width: 17%;
    height: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;

}

/* focus */

.select-appointment:focus{
    outline: none;
}

.input-appointment:focus{
    outline: none;
}


.b-appointment:hover{
    background-color: rgb(72, 163, 255);
}