.all-appointment{
    font-family: sans-serif;
}

.box-appointment{
    background-color: rgb(202, 201, 201);
    position: fixed;
    top: 7%;
    right: 6%;
    padding: 20%;
    width: 30%;
    border-radius: 15px;
    z-index: -5;

}

.box1-appointment{
    background-color: white;
    position: relative;
    bottom: 120px;
    left: 27%;
    padding: 13%;
    width: 0%;
    border-radius: 15px;
    z-index: -4;
}

.box2-appointment{
    background-color: white;
    position: relative;
    bottom: 465px;
    left: 60%;
    padding: 13%;
    width: 0%;
    border-radius: 15px;
    z-index: -4;
}

.t1-appointment{
    color: black;
    position: relative;
    left: 28%;
    top: 70px;
    
}

.form-appointment{
    position: relative;
    top: 170px;
    left: 33%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20%;
   
}

.input-appointment{
    text-align: center;
    width: 70%;
}

.select-appointment{
    width: 72%;
}