.all-appointment{
    font-family: sans-serif;
}

/* boxs */

.box-appointment{
    background-color: rgb(216, 216, 216);
    position: fixed;
    top: 10%;
    left: 21%;
    padding: 40px;
    width: 70%;
    height: 75%;
    border-radius: 15px;
    opacity: 80%;
    z-index: -5; 
}

.box-appointment2{
    background-color: rgb(6, 92, 179);
    padding: 500px;
    z-index: -100;
    border-radius: 1000px;
    position: fixed;
    left: 50%;
    top: -150px;
}

.box1-appointment{
    background-color: white;
    position: fixed;
    top: 20%;
    left: 28%;
    padding: 40px;
    width: 20%;
    height: 60%;
    border-radius: 15px;
    box-shadow: 0 3px 3px gray;
    z-index: -4;
}

.box2-appointment{
    background-color: white;
    position: fixed;
    top: 20%;
    right: 10%;
    padding: 40px;
    width: 20%;
    height: 60%;
    border-radius: 15px;
    box-shadow: 0 3px 3px gray;
    z-index: -4;
}

/* text */

.t1-appointment{
    color: black;
    position: fixed;
    left: 40%;
    top: 40px;
}

.t2-appointment{
    color: black;
    position: fixed;
    left: 69%;
    top: 130px;
}

/* inputs/selects */

.form-appointment{
    position: fixed;
    top: 20%;
    left: 31%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20%;
}

.input-appointment {
    background-color: rgba(216, 216, 216, 0.80);
    text-align: center;
    padding: 10px;
    width:92%;
    border-radius: 10px;
    border: none;
    box-shadow: 0 3px 3px gray;
}

.select-appointment{
    background-color: rgba(216, 216, 216, 0.80);
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: none;
    box-shadow: 0 3px 3px gray;
}

.label-appointment{
    font-size: 13px;
}

/* buttons */

.b-appointment{
    background-color: rgb(6, 92, 179);
    color: white;
    position: relative;
    top: 15px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 14px;
}

.status-appointment{
    position: fixed;
    top: 20%;
    right: 12%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20%;
}

/* focus */

.select-appointment:focus{
    outline: none;
}

.input-appointment:focus{
    outline: none;
}


.b-appointment:hover{
    background-color: rgb(72, 163, 255);
}