.all-appointment{
    font-family: sans-serif;
}

/* boxs */

.box-appointment{
    background-color: rgb(202, 201, 201);
    position: fixed;
    top: 7%;
    right: 6%;
    padding: 20%;
    width: 30%;
    border-radius: 15px;
    z-index: -5;

}

.box1-appointment{
    background-color: white;
    position: fixed;
    bottom: 13%;
    left: 28%;
    padding: 40px;
    width: 20%;
    height: 55%;
    border-radius: 15px;
    z-index: -4;
}

.box2-appointment{
    background-color: white;
    position: fixed;
    bottom:13%;
    left: 60%;
    padding: 40px;
    width: 20%;
    height: 55%;
    border-radius: 15px;
    z-index: -4;
}

/* text */

.t1-appointment{
    color: black;
    position: relative;
    left: 28%;
    top: 40px;
}

.t2-appointment{
    color: black;
    position: relative;
    left: 70%;
    top: 70px;
}

/* inputs */

.form-appointment{
    position: fixed;
    top: 190px;
    left: 31%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20%;
   
}

.input-appointment {
    text-align: center;
    padding: 10px;
    width:92%;
    border-radius: 10px;
    
}

.select-appointment{
    padding: 10px;
    width: 100%;
    border-radius: 10px;
}

/* buttons */

.b-appointment{
    position: fixed;
    right: 20%;
    padding: 10px;

}

/* focus */

.select-appointment:focus{
    outline: none;
}

.input-appointment:focus{
    outline: none;
}