
.all-register{
    font-family: sans-serif;
}

/* text */

.h1-register{
    position: fixed;
    right: 27%;
    top: 7%;
}

/* boxs */

.box1-register{
    background-color: white;
    position: fixed;
    right: 15%;
    top: 7%;
    padding: 40px;
    min-width: 0;
    width: 27%;
    height: 76%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 10px 30px 30px 7px gray;
    z-index: -900;
}

.box2-register{
    background-color: rgb(216, 216, 216);
    position: fixed;
    padding: 40px;
    min-width: 0;
    width: 70%;
    height: 85%;
    right: 7%;
    border-radius: 15px;
    z-index: -999;
}

/* inputs */

.inputs-register{
    position: fixed;
    right: 26%;
    top: 18%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
}

.name,.card-register,
.pass-register,.date,
.loc,.tel{
    background-color:rgba(169, 169, 169, 0.432);
    text-align: center;
    padding: 12px;
    width: 130%;
    border-radius: 10px;
    border: none;
}

/* buttons */

.b-register{
    background-color: rgb(6, 92, 179);
    color: white;
    position: fixed;
    right: 33%;
    bottom: 10%;
    padding: 10px;
    border: none;
    border-radius: 10px;

}

.b-register1{
    background-color: rgb(6, 92, 179);
    color: white;
    position: fixed;
    width: 8%;
    right: 22%;
    bottom: 10%;
    padding: 10px;
    border: none;
    border-radius: 10px;

}


/* images */

.OnDoctor-register{
    position: fixed;
    top: 40px;
    right: 52%;
    width: 50%;
}


/* footers */

.footer-register{
    font-size: 13px;
    position: fixed;
    bottom: 19%;
    left:60%;
}

.link-register{

    color: black;
    text-decoration: none;
}

/* animations */

.b-register:hover{
    padding: 11px;
    transition: 100ms;
}

.name,.card-register,
.pass-register,.date,
.loc,.tel{
    outline: none;
}