.all-register{
    font-family: sans-serif;
}

.h1-register{
    position: fixed;
    right: 30%;
    top: 12%;
}

.box1-register{
    background-color: white;
    position: fixed;
    right: 15%;
    top: 10%;
    padding: 270px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 10px 30px 30px 7px gray;
    z-index: -900;
}

.box2-register{
    background-color: rgb(216, 216, 216);
    padding: 500px;
    position: fixed;
    top: 9%;
    right: 10%;
    z-index: -999;
}

.inputs-register{
    position: fixed;
    right: 30%;
    top: 25%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.name,.card-register,
.pass-register,.date,
.loc,.tel{
    background-color:rgba(169, 169, 169, 0.432);
    text-align: center;
    padding: 13px;
    width: 130%;
    border-radius: 10px;
    border: none;
}



/* buttons */

.b-register{
    background-color: rgb(6, 92, 179);
    color: white;
    position: fixed;
    right: 17%;
    bottom: 10%;
    padding: 10px;
    border: none;
    border-radius: 10px;

}

/* animations */

.name,.card-register,
.pass-register,.date,
.loc,.tel:focus{

    outline: none;
}