#all{
    font-family: sans-serif;
}

#t1{
    position: fixed;
    right: 40%;
    top: 12%;
}

.box{
    background-color: white;
    position: fixed;
    right: 15%;
    top: 10%;
    padding: 270px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 10px 30px 30px 7px gray;
    z-index: -900;
}

.box1{
    background-color: rgb(216, 216, 216);
    padding: 500px;
    position: fixed;
    top: 9%;
    right: 10%;
    z-index: -999;
}

.inputs{
    position: fixed;
    right: 23%;
    top: 25%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input{
    background-color:rgba(169, 169, 169, 0.432);
    text-align: center;
    padding: 13px;
    width: 300px;
    border-radius: 10px;
    border: none;
}



/* buttons */

button{
    background-color: rgb(6, 92, 179);
    color: white;
    position: fixed;
    right: 19%;
    bottom: 11%;
    padding: 10px;
    border: none;
    border-radius: 10px;



}

/* animations */

input:focus{

    outline: none;
}