.alert-campaign{
    font-size: 14px;
    position: fixed;
    top: 45%;
    left: 20%;
    width: 30%;
    
}

.warning-campaign{
    font-size: 14px;
    position: fixed;
    top: 45%;
    right: 10%;
    width: 30%;
    
}

.image-campaign{
    position: fixed;
    left: 55%;
    width: 50%;
    z-index: -1;
}