/* box */


.box-home2{
    background-color: rgb(6, 92, 179);
    padding: 500px;
    z-index: -100;
    border-radius: 1000px;
    position: fixed;
    left: 50%;
    top: -150px;
}

.alert-home{
    font-size: 14px;
    position: fixed;
    top: 45%;
    left: 20%;
    width: 30%;
    
}

/* title */

.h1-home{
    color: rgb(10, 0, 0);
    font-family: sans-serif;
    font-size: 38px;
    width: 350px;
    position: fixed;
    top: 6%;
    left: 23%;
}


/* buttons */




.b-home
{
    padding: 15px;
    width: 200px;
    border-radius: 7px;
    border: none;
    box-shadow: 0 1px 4px black;
    cursor: pointer;
}


/* images  */

.UmbrellaDoctor{
    position: fixed;
    top: 15%;
    right: -30px;
    width: 40%;
}

/* hover area */

.b-home:hover{
    background-color:rgb(6, 92, 179) ;
    color: white;
    position: relative;
    left: 12px;
    transition: 0.4s;
}

.b-home:active{
    background-color:rgb(72, 163, 255) ;
    color: white;
}