/* box */

.box-home1{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    padding: 120px;
    box-shadow: 0 3px 10px black;
    z-index: 50;
}

.box-home2{
    background-color: rgb(6, 92, 179);
    padding: 500px;
    z-index: -100;
    border-radius: 1000px;
    position: fixed;
    left: 50%;
    top: -150px;
}

/* title */

.h1-home{
    color: rgb(87, 87, 87);
    font-family: sans-serif;
    font-size: 35px;
    width: 350px;
    position: relative;
    top: 20px;
    left: 25%;
}


/* buttons */

.buttons-home{
    position: fixed;
    left: 20px;
    top: 180px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 999;
}


.b-home
{
    padding: 15px;
    width: 200px;
    border-radius: 7px;
    border: none;
    box-shadow: 0 1px 4px black;
    cursor: pointer;
}


/* images  */

.logo-home{
    position: fixed;
    bottom: 60%;
    right: 69%;
    width: 600px;
    z-index: 51;
}


/* hover area */

.b-home:hover{
    background-color:rgb(6, 92, 179) ;
    color: white;
    position: relative;
    left: 12px;
    transition: 0.4s;
}

.b-home:active{
    background-color:rgb(72, 163, 255) ;
    color: white;
}