.footer {
  background: #0f2a52;
  color: #cbd5f5;
  padding-top: 64px;
}

.footer-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 48px;
}

.footer-col h3 {
  color: #4fc3f7;
  margin-bottom: 16px;
}

.footer-col h4 {
  margin-bottom: 16px;
  color: white;
}

.footer-col p {
  margin-bottom: 8px;
  font-size: 14px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
  opacity: 0.85;
}

.footer-col ul li:hover {
  opacity: 1;
}

/* SOCIAL */
.socials {
  display: flex;
  gap: 12px;
  margin-top: 36px;
}

.socials span {
  width: 36px;
  height: 36px;
  background: #2563eb;
  color: white;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 14px;
  cursor: pointer;
}

/* BARRA FINAL */
.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.1);
  margin-top: 48px;
  padding: 24px 64px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  opacity: 0.8;
}
.nav-logo1 {
    height: 90px;
    width: 120px;
}