* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --blue-dark: #1b3b50;
  --blue-main: #2563eb;
  --blue-light: #4fc3f7;
  --bg-light: #f8fafc;
  --text-dark: #ffffff;
}
.hero-container,
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;

}

.hero {
  height: 90vh;
  align-items: flex-start;
  background: #f8fafc;
  overflow-x: hidden; 
  padding-top: 96px; 
}
.container {
  margin-top: 124px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 24px;
  background: linear-gradient(
  to bottom,
);

}

.hero-text {
  display: flex;
  flex-direction: column;
  font-size: 46px;
  gap: 8px;
  color: #1e293b;
}

.medico-hero {
  position: relative;
  left: 900px;
  width: 320px;
  margin-top: -212px;
}


.section {
  background: var(--bg-light);
  padding: 94px 0;
}
.section-subtitle {
  font-size: 2rem;
  position: relative;
  max-width: 800px;
  opacity: 0.8;
  gap: 0px;
  margin-bottom: 24px;

}
.carousel-container {
  display: flex;
  height: 129px;
  gap: 12px;
  margin-top: 16px;
}


.carousel {
  width: 320px;
  overflow: hidden;
}

.cards {
  display: flex;
  transition: transform 0.4s ease;
}

.card {

  min-width: 320px;
  padding: 20px;
  margin-right: 20px;
  border: 1px solid #2563eb;
  border-radius: 12px;
}

.nav {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}


.hero h1 {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 24px;
  color: #1e293b;
}

.hero p {
  font-size: 18px;
  opacity: 0.8;
  margin-bottom: 32px;
}

.hero-actions {
  display: flex;
  gap: 16px;
}

.btn-primary {
  background: #2563eb;
  color: white;
  border: none;
  padding: 14px 28px;
  border-radius: 999px;
  cursor: pointer;
}

.btn-secondary {
  background: transparent;
  border: 1px solid #2563eb;
  color: #2563eb;
  padding: 14px 28px;
  border-radius: 999px;
  cursor: pointer;
}
.hero::after {
  content: "";
  position: absolute;
  bottom: -200px;
  left: -150px;
  width: 300px;
  height: 300px;
  background: #2563eb;
  border-radius: 50%;
  opacity: 0.15;
}

