
.box-usb{
    text-align: center;
    position: relative;
    top: 80px;
    left: 25%;
    background-color: rgb(202, 201, 201);
    padding: 40px;
    width: 60% ;
    height: 400px;
    border-radius: 15px;
    z-index: -1;
}



.h1-usb{
    position: relative;
    left: 50%;
}





